body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Helvetica', sans-serif; */
    font-family: 'San Francisco', 'SF Pro Display', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    /* font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #fff;
    padding: 250px;
    padding-top: 5px;
    min-height: 100vh;
}

header {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #131315; */
    border-radius: 40px;
    padding: 20px;
    margin: 15px;
    /* border: 2px solid #333;  */
    /* box-shadow: 0 4px 10px rgba(251, 250, 250, 0.1);  */
}

.navbar{
    background-color: whitesmoke;

}
nav {
    text-align: center;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 30px;
    font-size: 1em;
    transition: text-shadow 0.5s ease-in-out; /* Add transition for smooth effect */
    font-weight: 700;
}

nav a:hover  {
    background-color: #ededed;
    padding: 10px;
    border-radius: 25px;
    margin: 20px;

    /* text-shadow: 0 0 20px #fff;  */
}
nav a.active:hover {
    margin-right: 30px;
  }


.logo {
    font-size: 1.9em;
    font-weight: bold;
    margin-left: 30px;
}

.hero{
    min-height: 50%;
    border-radius: 40px;
    background-color: #F5F5F7;
    margin: 0px 15px 7.5px 15px;
    /* background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' id='SvgjsSvg1079' width='200' height='200' viewBox='0 0 512 512' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs'><path d='m256.002 242.913 210.412-121.43L256.002 0 45.586 121.483zm-15.053 26.073L30.534 147.557v242.96L240.949 512zm30.107 0V512l210.41-121.483v-242.96z' fill='rgba(255, 255, 255, 1)'></path></svg>"); */
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 100px;
    padding-bottom: 130px;
}

.hero-content{
    /* font-size: 30px; */
    /* line-height: 52px; */
    font-size: 1.9em;
    line-height: 2em;
    letter-spacing: -0.01em;
    font-weight: 600;
}

.hero-content h1{
    margin-top: 20px;
    margin-bottom: 20px;
}


.explore {
    background-color: #000;
    color: #ededed;
    padding: 10px;
    border-radius: 25px;
    text-transform: uppercase;

    /* Add transition for smooth effect */
}

.explore:hover {
    background-color: #dcdcdc;
    color: #000;
    border: 2px solid #000;
    margin-left: 28px;
    margin-right: 28px;
    /* Border color and thickness */
}

.center-image {
    display: block;
    margin: 20px auto;
    /* Adjust the margin as needed */
    max-width: 70%;
    height: auto;
    margin-top: 0px;
}

.hero-content {
    color: #000;
    text-align: center;
}

.active {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 25px;
}

.btn-hero {
    font-size: 20px;
    text-decoration: none;
    background-color: #000;
    color: #ededed;
    padding: 20px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: text-shadow 0.9s ease-in-out;
    margin-bottom: 20px;
    border: 2px solid #000;
}

.btn-hero:hover {
    background-color: #dcdcdc;
    color: #000;
    border: 2px solid #000;
    margin-left: 28px;
    margin-right: 28px;
    /* Border color and thickness */
}

.highlight {
    
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, #cccccc, #666666);
    background: linear-gradient(to left, #e401e4, #0000FF);
    /*background: linear-gradient(to right, #FFEB3B, #FFA500);*/
    background: linear-gradient(45deg, #87CEEB, #3498db, #2c3e50);
    background: linear-gradient(45deg,  #0397fa, #0273e3);
    color: transparent;
    -webkit-background-clip: text;
    /* For Safari/Chrome/iOS */
    background-clip: text;
    font-weight: 700;
}
.highlight2 {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, #cccccc, #666666);
    background: linear-gradient(to left, #b7011c, #ff0d00);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 700;
    background-clip: text;
}

.gradient-text::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: #333; /* Set the fallback color */
    z-index: -1
  }

  /* Introduction section */
  .intro{
    min-height: 30vh;
    background-color: #F5F5F7;
    margin: 20px;
    padding: 60px;
    border-radius: 40px;
    font-size: 2em;
    font-weight: 500;
    text-align:start;
    line-height: 1.5em;
    letter-spacing: -0.5px;
  }

  .intro p{
    margin-top: 0;
    margin-bottom: 30px;
  }

  .intro a{
    margin: 30px;
  }
  

  .grid-container {
    display: grid;
    gap: 20px;
    /* padding: 10px; */
  }

  .grid-item {
    background-color: #F5F5F7;
    text-align: center;
    padding: 40px;
    font-size: 30px;
    border-radius: 40px;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
    min-height: 50vh;
  }

  .item1 h1{
    margin-top: 0;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    background: linear-gradient(135deg, #00ff44, #0a952a);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
  }
  
  .item2 {
    grid-column: 3 ;
    grid-row: 1 / span 2;
    min-height: 25vh;
  }

  .item2 h1{
    margin-top: 0;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    background: linear-gradient(135deg, #e401e4, #0397fa);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
  }

  .grid-item.item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-item.item2 img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    margin-bottom: 50px;

}



  

  .feature2{
    margin: 20px;
  }

  .video-player {
    text-align: center;
    overflow: hidden;
    border-radius: 20px; /* Add border radius */
    width: 450px; /* Set the width to make it square */
    height: 450px; /* Set the height to make it square */
    /* border: 0.001px solid #000; */

}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the entire container */
    border-radius: 25px; /* Add border radius */
}